.header {
  /* margin: 25px; */
  font-family: San Francisco, Roboto, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  color: #212b36;
  border-bottom: 1px solid #e9ebf6;
}
