body {
  background-color: F5F6F8;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
  border-radius: 5px;
  background-color: #f9fafb;
  box-shadow: 0 1px 3px 0 rgba(63,63,68,.15000000596046448), 0 0 0 1px rgba(63,63,68,.05000000074505);
  padding: 0px;
}

.book-section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.trading-pair {
  width: 80%;
}

.orders table th{
  color: white;
}

.bids table th {
  background-color: #CCCC00;
}

.asks table th {
  background-color: green;
}
